# Ignore virtual environments
.venv/
venv/
ENV/
env/

# Ignore cache & compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore datasets & heavy files
data/
raw_face/
fullbody/
landmarks/
transcript/
multimodal/
speech/runs/features/
results/
logs/
*.npy
*.pt
*.ckpt
*.h5
*.wav
*.mp4
*.zip
*.tar.gz

# Allow important images
!speech/**/*.png
!results/**/*.png
