# Git ignore file 
__pycache__/ 
*.pyc 
*.pyo 
*.pyd 
.venv/ 
venv/ 
ENV/ 
env/ 
data/ 
raw_face/ 
fullbody/ 
landmarks/ 
multimodal/ 
speech/ 
transcript/ 
*.wav 
*.mp4 
*.avi 
*.zip 
*.tar.gz 
logs/ 
*.log 
last_error.txt 
.ipynb_checkpoints/ 
.DS_Store 
Thumbs.db 
results/ 
*.pt 
*.pth 
*.ckpt 
*.h5 
