# Ignore virtual env and large files
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
data/
speech/runs/features/
*.npy
*.pt
*.ckpt
*.h5
results/
logs/
raw_face/
fullbody/
landmarks/
transcript/
multimodal/
# But keep image plots
!speech/**/*.png
!results/**/*.png
